<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="URLFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <URLFinder.Properties.Settings>
            <setting name="finding_paths" serializeAs="String">
                <value>D:\모니터링 일지</value>
            </setting>
            <setting name="finding_file_patterns" serializeAs="String">
                <value>엑셀자료-*.xlsx|*년색출전체자료.xlsx</value>
            </setting>
        </URLFinder.Properties.Settings>
    </userSettings>
</configuration>
